<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="" href="/img/weather.png">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    
</head>

<body>
   
    <div class="main-content">
        {{>header}}

        <p>Search to know the current weather</p>

        <form>
            <input ="input" placeholder="Your Location">
            <button type="submit" >Search</button>
        </form>

        <p>This is the basic prototype which uses data from <a href=" https://www.mapbox.com/" target="_blank"> mapbox </a> and <a href="https://darksky.net/forecast/40.7127,-74.0059/us12/en " target="_blank">darksky </a>.</p>

        <p id = "message-1"></p>
        <p id = "message-2"></p>
    </div>
    
     

    {{>footer}}
    <script src="/js/app.js"></script>
</body>
 
</html>

